{% extends "base.html" %}
{% load static %}
{% block main %} 

<div class="mt-5">

{% if is_admin %}
{% for message in messages %}
    <p id="messages">{{message}}</p>
{% endfor %}
<form method="POST" action="">
    {% csrf_token %}    

    <label class="form-label" for="customFile">Write the name of the user to add: </label>
    {{ form.username }}        
    <input class="btn btn-info custom-bg-color mx-2" type="submit" value="Add it"/>

</form>

{% else %}

<p>You need to be the admin of the repository to upload a file.</p>

{% endif %}

</div>

{% endblock main %}