{% extends "base.html" %}
{% load static %}
{% block main %} 

{% if is_admin %}
{% for message in messages %}
    <p id="messages">{{message}}</p>
{% endfor %}
<form method="POST" action="">
    {% csrf_token %}    

    <label class="form-label" for="customFile">Write the name of the user</label>
    {{ form.username }}        
    <input class="btn btn-info bg-cyan text-dark w-50 mt-4 fw-semibold shadow-sm" type="submit" value="Add it"/>

</form>

{% else %}

<p>You need to be admin to upload a file.</p>

{% endif %}

{% endblock main %}