{% extends "base.html" %}

{% block createrep %}
<a href="{% url 'createRepo' %}" class="nav-link">
    <svg class="bi me-2" width="16" height="16">
        <use xlink:href="#speedometer2" />
    </svg>
    Create a new repository
</a>
{% endblock %}

{% block main %} 
{% for message in messages %}
    <p id="messages">{{message}}</p>
{% endfor %}

<form method="POST" action="">
    {% csrf_token %}
    
    <div class="mt-5">
        <label class="form-label" for="createRepo">Select a name for the repository</label>
        {{form.name}}
        <input class="btn btn-info custom-bg-color mx-2" type="submit" value="Create it"/>
    </div>    

</form>

{% endblock main %}