{% extends "base2.html" %}

{% load static %}
{% block main %}

{% if not user.is_authenticated %}

<div class="container-fluid px-0">
  <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/security.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/security2.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/security3.jpeg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
</div>

{% endif %}

{% if user.is_authenticated %}
{% comment %} {% if user.is_admin %} {% endcomment %}  
  <div class="mt-5">
    <div class="d-flex gap-1 justify-content-center mt-2">
      <div>Do you want to create a new repository?</div>
      <a href="createRepository" class="text-decoration-none fw-semibold">Create it!</a>
    </div>
  </div>
{% comment %} {% endif %} {% endcomment %}

  {% if repos %}
    <div id="Card" class="card">
        <ul class="list-group list-group-flush">
            {% for repo in repos %}
                <li class="list-group-item"><h5><a id="List" href="repository?repo={{ repo.repository.name }}" name="repository">
                    {{ repo.repository.name }}</a>
                </h5></li>
            {% endfor %}
        </ul>
    </div>
  {% else %}
    <div class="mt-3">
      <h4>No repositories to show.</h4>
    </div>
    
  {% endif %}
{% else %}
    <div class="mt-3">
      <section class="container mt-5">
        <div class="text-center">
            <h2 class="mb-4">Join OnlyFiles and Power Up Your Projects</h2>
            <p class="lead">Discover a collaborative space where innovation and creativity meet. Sign up today and be part of our community.</p>
            <a href="/signup" class="btn custom-bg-color btn-info btn-lg">Sign Up for Free!</a>
        </div>
    </section>

    <section class="container mt-5">
        <div>
            <h2 class="mb-4">Benefits of OnlyFiles</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Collaboration with other developers.</li>
                <li class="list-group-item">Discover exciting projects and find collaborators.</li>
                <li class="list-group-item">Efficiently manage your repositories.</li>
                <li class="list-group-item">Participate in events and challenges to test your skills.</li>
            </ul>
        </div>
    </section>

    <section class="container mt-5 mb-5">
        <div>
            <h2 class="mb-4">How to Get Started on OnlyFiles</h2>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">Sign up for free in just a few minutes.</li>
                <li class="list-group-item">Explore exciting projects or start your own.</li>
                <li class="list-group-item">Connect with the community and collaborate on projects.</li>
                <li class="list-group-item">Efficiently manage your repositories.</li>
            </ol>
        </div>
    </section>
    </div>
    
    
{% endif %}

<!-- <style>
  main {
      height: 70vh;
  }
</style> -->

{% endblock main %}
