{% extends "base.html" %}

{% load static %}

{% block myrep %}
<a href="/" class="nav-link" aria-current="page">
    <svg class="bi me-2" width="16" height="16">
        <use xlink:href="#repository" />
    </svg>
    My repositories
</a>
{% endblock %}


{% block main %}

{% if user.is_authenticated %}

  {% if repos %}
    <div id="Card" class="card mt-5">
        <ul class="list-group list-group-flush">
            {% for repo in repos %}
                <li class="list-group-item">
                  <h5>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#52A9FF" class="bi bi-folder-fill" viewBox="0 0 16 16">
                      <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3m-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981z"/>
                    </svg>
                    <a id="List" href="repository?pk={{ repo.repository.pk }}" name="repository" style="text-decoration: none; color: #52A9FF;">
                    {{ repo.repository.name }}
                    </a>
                  </h5>
                  <a href="deleteRepo?pk={{ repo.repository.pk }}">Delete repository</a>
                </li>
            {% endfor %}
        </ul>
    </div>
  {% else %}
    <div class="mt-3">
      <h4>No repositories to show.</h4>
    </div>
    
  {% endif %}
{% else %}
    <div class="mt-3">
      <h4>You need to log in to see your repositories.</h4>
    </div>
    
{% endif %}

<style>
  main {
      height: 70vh;
  }
</style>

{% endblock main %}
