{% extends "base.html" %}
{% load static %}
{% block main %}

    {% if is_admin %}

    <div class="mt-5 mb-5">
        <div class="d-flex gap-1 justify-content-center mt-2">
            <a class="btn btn-info custom-bg-color mx-2" href="repository/addFile?pk={{ repo.pk }}">Upload a file</a>
            <a class="btn btn-secondary" href="repository/addUser?pk={{ repo.pk }}">Add a user to the directory</a>
        </div>
    </div>  

    {% endif %}

    {% if files %}
        <div>
            <h4 class="flex-column" style="color: #52a9ff;">{{ repo.name }}</h4>
        </div>
        <div id="Card" class="flex-column card mb-5">            
            <ul class="list-group list-group-flush">
                {% for file in files %}
                    <li class="list-group-item">
                        <h5>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#52a9ff" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z"/>
                              </svg>
                            <a id="List" href="getFile?pk={{ file.file.pk }}" name="repo_file_name" style="text-decoration: none; color: #52A9FF;">{{ file.file.name }}</a>
                        </h5>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <h4 class="flex-column mt-5">No files to show in this repository.</h4>
    {% endif %}

{% endblock main %}