{% extends "base.html" %}
{% load static %}
{% block main %}

    {% if is_admin %}

    <div class="mt-5">
        <div class="d-flex gap-1 justify-content-center mt-2">
        <div>Do you want to upload a file?</div>
        <a href="repository/addFile?pk={{ repo.pk }}" class="text-decoration-none fw-semibold">Upload it!</a>
        </div>
    </div>

    <div class="d-flex flex-column gap-1 justify-content-center mt-1">
        <div>
            <p class="d-inline">Do you want to add a user?</p>
            <a href="/addUser" class="text-decoration-none fw-semibold">Add it!</a>
        </div>
    </div>    

    {% endif %}

    {% if files %}
        <div id="Card" class="flex-column card">
            <h4 class="flex-column">Repository: {{ repo.name }}</h4>
            <ul class="list-group list-group-flush">
                {% for file in files %}
                    <li class="list-group-item"><h5><a id="List" href="getFile?pk={{ file.file.pk }}" name="repo_file_name">
                        {{ file.file.name }}</a>
                    </h5></li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <h4 class="flex-column">No files to show in this repository.</h4>
    {% endif %}

{% endblock main %}